.ToDoSearch {
  background: #fafafa;
  border-radius: 10px;
  border: 2px solid #98ca3f;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;

}

.ToDoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.ToDoSearch:focus {
  outline-color: #c1ff56;
}

.ToDoSearch:hover {
  box-shadow: 0px 5px 25px rgba(110, 250, 97, 0.5);
}